<form class="mb-10" action="search" method="post">
    <input type="text" name="recipient_handle" placeholder="The handle here">
    <input type="text" name="text" value="I really hate your because...">
    <button type="submit">Search now</button>
</form>

